
 
  <h1 class="font-thin h3">Domain List <span class="badge">16</span></h1>
  <div class="row m-t m-b">
    <div class="col-lg-12">
      <div class="pull-left">
        Search: <input id="filter" ng-model="search.domain_name" type="text" class="form-control input-sm w-auto inline m-r"/>
      </div>
                <div class="btn-group pull-right" dropdown is-open="status.isopen">
                  <button type="button" class="btn btn-sm btn-primary" dropdown-toggle ng-disabled="disabled">
                    Filter <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href>Development</a></li>
                    <li><a href>Media</a></li>
                    <li><a href>Others</a></li>
                    <li class="divider"></li>
                    <li><a href>All</a></li>
                  </ul>
                </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <!-- accordion -->   
      <div ng-controller="DomainsController">
        <accordion close-others="true">
          <div ng-repeat="domain in DomainsList | filter: { Name: search.domain_name }" class="m-b-sm">
          <accordion-group heading="{{ domain.Name }}">
              <div class="list-group">
                <div class="list-group-item"><b>URL:</b><span class="badge bg-success">{{ domain.Url }}</span></div>
                <div class="list-group-item"><b>Ip:</b><span class="badge bg-accent">{{ domain.Ip }}</span></div>
                <div class="list-group-item"><b>Port:</b><span class="badge bg-dark">{{ domain.Port }}</span></div>
                <div class="list-group-item"><b>Description:</b><span class="badge bg-success">{{ domain.Description }}</span></div>
                <div class="list-group-item"><b>Type:</b><span class="badge bg-danger">{{ domain.Type | DomainTypeFilter }}</span></div>
              </div>
              <button class="btn btn-success btn-sm" popover="Edit" popover-trigger="mouseenter"><i class="fa fa-edit"></i></button>
              <button class="btn btn-danger btn-sm m-l-sm" popover="Delete" popover-trigger="mouseenter"><i class="fa fa-remove"></i></button>
              <a class="btn btn-info btn-sm pull-right" popover="Open Link" popover-trigger="mouseenter" href="{{ domain.Url | DomainLinkFilter:domain.Ip:domain.Port }}" target="_blank"><i class="fa fa-external-link"></i></a>
          </accordion-group>
          </div>
        </accordion>
      </div>
      <!-- / accordion -->
    </div>
  </div>
<a md-ink-ripple class="md-btn md-fab md-fab-bottom-right pos-fix blue" ng-click="addNewDomain()"><i class="mdi-editor-mode-edit i-24"></i></a>