<div class="row row-sm">
  <div class="col-sm-3">
    <div class="panel panel-card">
      <div class="r-t pos-rlt" md-ink-ripple style="background:url(images/a0.jpg) center center; background-size:cover">
        <div class="p-lg bg-white-overlay text-center r-t">
          <a href class="w-xs inline">
            <img src="images/a0.jpg" class="img-circle img-responsive">
          </a>
          <div class="m-b m-t-sm h2">
            <span class="">David M.</span>
          </div>
          <a class="btn btn-sm btn-success m-b p-h no-border">Edit</a>
        </div>
      </div>
      <div class="list-group no-radius no-border">
        <a class="list-group-item">
          <span class="pull-right badge">Sumit Singh</span> Full Name
        </a>
        <a class="list-group-item">
          <span class="pull-right badge">Active</span> Status
        </a>
        <a class="list-group-item">
          <span class="pull-right badge">564</span> Posts
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="panel panel-card">
      <div class="panel-heading b-b">
      Activities
      </div>
      <div class="panel-body">
      <ul class="timeline" ng-class="{'timeline-center': center}">
    <li class="tl-header">
      <div class="btn btn-default">Today</div>
    </li>
    <li class="tl-item">
      <div class="tl-wrap b-info">
        <span class="tl-date text-muted">5s ago</span>
        <div class="tl-content">
          Simple timeline title
        </div>
      </div>
    </li>
    <li class="tl-item">
      <div class="tl-wrap">
        <span class="tl-date text-muted">2h ago</span>
        <div class="tl-content panel panel-card p-sm">
          <span class="arrow b-white left pull-top"></span>
          <div>Content in a panel with arrow</div>
        </div>
      </div>
    </li>
    <li class="tl-item tl-left">
      <div class="tl-wrap b-primary">
        <span class="tl-date text-muted">7:30 am</span>
        <div class="tl-content panel panel-card bg-primary p-sm">
          <span class="arrow b-primary left pull-top hidden-left"></span>
          <span class="arrow b-primary right pull-top visible-left"></span>
          <div class="text-lt">Content with background </div>
        </div>
      </div>
    </li>
    <li class="tl-item">
      <div class="tl-wrap b-primary">
        <span class="tl-date text-muted">04.2014</span>
        <div class="tl-content panel panel-card w-xl w-auto-xs">
          <span class="arrow b-white left pull-top"></span>
          <div class="text-lt p-h m-b-sm">With Title</div>
          <div class="p b-t b-light">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper
          </div>
        </div>
      </div>
    </li>
    <li class="tl-item tl-left">
      <div class="tl-wrap b-success">
        <span class="tl-date text-muted">04.2014</span>
        <div class="tl-content panel panel-card bg-info dk block">
          <span class="arrow b-info left pull-top hidden-left"></span>
          <span class="arrow b-info right pull-top visible-left"></span>
          <div class="text-lt p-h m-b-sm font-bold">Block</div>
          <div class="panel-body b-t b-info">
            Consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper
          </div>             
        </div>
      </div>
    </li>
    <li class="tl-header">
      <div class="btn btn-sm btn-default btn-rounded">2014</div>
    </li>
    <li class="tl-item">
      <div class="tl-wrap">
        <span class="tl-date text-muted">10.08.2013</span>
        <div class="tl-content panel panel-card p-sm">
          <span class="arrow b-white left pull-up hidden-left"></span>
          <span class="arrow b-white right pull-up visible-left"></span>
          <div class="text-lt">A good story to hear.</div>
        </div>
      </div>
    </li>
    <li class="tl-header">
      <i class="ui-icon fa fa-twitter b-white b-2x bg-info"></i>
    </li>
    <li class="tl-item tl-left">
      <div class="tl-wrap b-white">
        <span class="tl-date text-muted">5.07.2013</span>
        <div class="tl-content panel  panel-card p-sm">
          <span class="arrow b-white left pull-up hidden-left"></span>
          <span class="arrow b-white right pull-up visible-left"></span>
          <div class="text-lt">Yesterday is History</div>
        </div>
      </div>
    </li>
    <li class="tl-header">
      <div class="btn btn-sm btn-default btn-rounded">more</div>
    </li>
  </ul>
      </div>  
    </div>
  </div>
</div>
<a md-ink-ripple class="md-btn md-fab md-fab-bottom-right pos-fix green"><i class="mdi-editor-mode-edit i-24"></i></a>
