<div class="panel panel-default">
    <div>
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="6" data-sorting="false">
        <thead>
          <tr>
              <th data-toggle="true" data-sorting="false">
                  IP Address
              </th>
              <th data-hide="phone,tablet">
                  User Agent
              </th>
              <th data-hide="phone">
                  Last Activity
              </th>
              <th>
                  Action
              </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in UserSessions">
              <td>{{ user.Ip }}</td>
              <td><a href>{{ user.UserAgent }}</a></td>
              <td data-value="{{ user.LastLoginedAt | date}}">{{ user.LastLoginedAt | date }}</td>
              <td>
                 <button popover="Invalidate!" popover-trigger="mouseenter" class="btn btn-danger btn-icon"><i class="fa fa-remove"></i></button>
              </td>
          </tr>
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
</div>